<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': postItem.loveIts>0,
  'list-group-item-danger': postItem.loveIts<0
}" [ngStyle]="{color: getColor()}">
  <div>
    <div >
      <h4 class="d-inline-block">
        {{postItem.title}}
      </h4>
      <em class="d-inline-block"><button class="btn btn-danger" (click)="onRemovePost()">-</button></em>
      <em class="d-inline-block" style="margin-right: 10px;">{{postItem.createdAt | date: 'short'}}</em>
    </div>
    <p>
      {{postItem.content}}
    </p>
    <button class="btn btn-success" (click)="onAddLove()" >Love It !</button>
    <button class="btn btn-danger" (click)="onRemoveLove()" >Don't Love It !</button>
  </div>
</li>
